<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PageRotateExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0310237F1D73E3D600BC5AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>031023961D73E3D700BC5AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>031023A11D73E3D700BC5AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
